In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
from sklearn.pipeline import Pipeline
import joblib
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from skopt import BayesSearchCV
from sklearn.ensemble import RandomForestRegressor
import math
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Point, Polygon
import folium

In [3]:
train_data = pd.read_csv("data/train.csv")
bst_data = pd.read_csv("data/metadata.csv")

In [6]:
bst_data

   grupo    btsId btsNetNome      lat        lon  cch  azimuth    RssiId
0      1  BTS_1_1  PEMDL01_1 -8.04342 -34.952000  873        0  rssi_1_1
1      1  BTS_1_2  PEMDL01_2 -8.04342 -34.952000  872      120  rssi_1_2
2      1  BTS_1_3  PEMDL01_3 -8.04342 -34.952000  875      240  rssi_1_3
3      2  BTS_2_1  PEMDL08_1 -8.05289 -34.944672  865        0  rssi_2_1
4      2  BTS_2_2  PEMDL08_2 -8.05289 -34.944672  874      120  rssi_2_2
5      2  BTS_2_3  PEMDL08_3 -8.05289 -34.944672  871      240  rssi_2_3
6      3  BTS_3_1  PEMDL09_1 -8.05532 -34.957900  877        0  rssi_3_1
7      3  BTS_3_2  PEMDL09_2 -8.05532 -34.957900  881      120  rssi_3_2
8      3  BTS_3_3  PEMDL09_3 -8.05532 -34.957900  869      240  rssi_3_3

,ponto_id,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,lat,lon,indoor
0,6604,-103.705000,-110.425000,-107.381667,-110.330000,-108.345000,-106.590000,-107.153333,-102.120000,-115.0000,5.0,3.0,2.0,-8.055786,-34.951505,True
1,5515,-105.225000,-115.000000,-105.210000,-115.000000,-105.835000,-115.000000,-88.470000,-94.024286,-108.1200,5.0,3.0,2.0,-8.055784,-34.951608,True
2,5049,-102.610000,-115.000000,-101.380000,-115.000000,-104.295000,-97.360000,-96.980000,-99.572500,-115.0000,5.0,3.0,2.0,-8.055506,-34.951693,True
3,8737,-89.140000,-97.251429,-86.642857,-96.036667,-96.592500,-92.460000,-86.813333,-102.688000,-87.2700,4.0,7.0,2.0,-8.050390,-34.959630,False
4,1203,-109.088333,-107.200000,-107.010000,-108.430000,-104.845714,-101.435714,-103.065000,-102.110000,-115.0000,5.0,3.0,2.0,-8.055380,-34.951736,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6770,5734,-105.225000,-115.000000,-105.210000,-115.000000,-105.835000,-115.000000,-93.005000,-97.114286,-108.1200,5.0,3.0,2.0,-8.055784,-34.951608,True
6771,5191,-105.225000,-115.000000,-105.210000,-115.000000,-105.835000,-115.000000,-87.315000,-88.735714,-108.1200,5.0,3.0,2.0,-8.055784,-34.951608,True
6772,5390,-105.225000,-115.000000,-105.210000,-115.000000,-105.835000,-115.000000,-95.165000,-90.705714,-108.1200,5.0,3.0,2.0,-8.055784,-34.951608,True
6773,860,-109.088333,-107.200000,-107.010000,-108.430000,-97.200000,-98.148571,-99.840000,-94.665000,-115.0000,5.0,3.0,2.0,-8.055380,-34.951736,True
6774,7270,-89.254286,-91.887143,-89.297143,-85.120000,-83.190000,-84.626190,-91.120000,-101.740000,-96.3725,5.0,3.0,3.0,-8.055320,-34.951080,False

In [19]:
COLUMN_NAMES = ["rssi_1_1", "rssi_1_2", "rssi_1_3", "rssi_2_1", "rssi_2_2", "rssi_2_3", "rssi_3_1", "rssi_3_2", "rssi_3_3"]
train_data['Max'] = train_data[COLUMN_NAMES].abs().idxmax(axis=1)

In [25]:
train_data = train_data.merge(bst_data[["RssiId", "grupo", "lat", "lon"]], left_on="Max", right_on="RssiId", how="left")

In [57]:
output = train_data[["ponto_id", "lat_x", "lon_x"]].rename(columns={"lat_x":"lat", "lon_x":"lon"})

In [51]:
output.to_csv("Resultado_Equipe1_MetodoProximidade", index=False)